@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply relative font-inter;
  }
}

@layer components {
  /* NAVBAR */
  .navbar {
    @apply fixed z-50 flex h-12 w-full items-center justify-center bg-primary text-baseColor;
  }

  .navbar__title {
    @apply w-full text-center text-xl font-bold leading-none tracking-wider;
  }

  .menu {
    @apply absolute inset-0 w-10 cursor-pointer pl-4 pt-3;
  }

  .menu__link {
    @apply absolute left-4 top-14 z-50 flex h-16 w-44 items-center justify-center gap-4 rounded-lg bg-primary px-5 py-7 font-inter text-2xl font-normal leading-none text-baseColor shadow-lg hover:border-l-4 hover:border-redBadge hover:bg-primaryHover;
  }

  .menu__sign {
    @apply duration-300 hover:scale-110 hover:text-badgeLight;
  }

  /* TABLE */
  .table__header {
    @apply border-l border-r border-borderColor py-2 leading-none;
  }
  .table__cell {
    @apply border-l border-r border-borderColor;
  }

  /* BUTTON */
  .btn {
    @apply h-16 w-44 rounded-lg bg-primary px-5 py-5 text-2xl font-normal leading-none text-baseColor transition-all duration-75 hover:border-l-4 hover:border-redBadge  hover:bg-primaryHover;
  }
}
