@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.glass {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

@layer base {
  body {
    @apply relative font-inter;
  }
}

@layer components {
  /* NAVBAR */
  .navbar {
    @apply fixed z-50 flex h-12 w-full items-center justify-center bg-primary text-baseColor;
  }

  .navbar__title {
    @apply w-full text-center text-xl font-bold leading-none tracking-wider;
  }

  .menu {
    @apply absolute inset-0 w-10 cursor-pointer pl-4 pt-3;
  }

  .menu__link {
    @apply absolute left-4 top-14 z-50 flex h-16 w-44 items-center justify-center gap-4 rounded-lg bg-primary px-5 py-7 font-inter text-2xl font-normal leading-none text-baseColor shadow-lg hover:border-l-4 hover:border-redBadge hover:bg-primaryHover;
  }

  .menu__sign {
    @apply duration-300 hover:scale-110 hover:text-badgeLight;
  }

  /* TABLE */
  .table {
    @apply border border-borderColor;
  }

  .table__header {
    @apply border-l border-r border-borderColor py-2 leading-none;
  }
  .table__cell {
    @apply border-l border-r border-borderColor;
  }

  /* BUTTON */
  .btn {
    @apply h-16 w-44 rounded-lg bg-primary px-5 py-5 text-2xl font-normal leading-none text-baseColor transition-all duration-75 hover:border-l-4 hover:border-redBadge  hover:bg-primaryHover disabled:border-none disabled:bg-gray-400 disabled:text-gray-500;
  }

  .btn__cell {
    @apply flex h-10 w-20 justify-center items-center rounded-md bg-primary px-1 text-sm font-extralight text-baseColor hover:border-l-4 hover:border-redBadge hover:bg-primaryHover disabled:border-none disabled:bg-gray-400 disabled:text-gray-500;
  }

  /* REPORTS */
  .reports {
    @apply h-[100%] min-h-screen pt-14;
  }
  .reports_filter {
    @apply mx-auto min-w-[650px] rounded-lg bg-white shadow-lg md:w-1/2;
  }
  .reports_table {
    @apply mx-auto my-4 max-w-[650px] rounded-lg bg-white p-3 shadow-lg;
  }
}
